= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .field
    %ul
      %li.name= f.label :name
      %li.text_field= f.text_field :name
  .field
    %ul
      %li.name= f.label :status
      %li.text_field= f.text_field :status
  .actions
    %ul
      %li.submit= f.submit
